@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Work+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: auto;
  min-width: 300px;
  max-width: 1500px;
  overflow-x: hidden;
}

.display {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0rem;
  background-color: #74C69D;
}
.display h1 {
  color: #ffffff;
  margin: 1rem 2rem;
}
.display span {
  color: #000000;
}
.display ul {
  float: right;
  margin: 1rem 6rem;
}
.display li {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: 1rem 1rem;
  font-family: "Work Sans";
  cursor: pointer;
}
.display .menu {
  width: 24px;
  height: 20px;
  position: relative;
  margin: 2rem 2rem;
  float: right;
  color: #ffffff;
  display: none;
}

.logo {
  height: 50px;
  margin: auto 4rem;
}

.main {
  margin: 2rem 0;
  text-align: center;
}
.main h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 1rem auto;
  font-family: Crimson Text;
  line-height: 50px;
}
.main h2 {
  color: #74C69D;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.main p {
  font-size: 20px;
  margin: 1.5rem 0rem;
  font-family: "Work Sans";
  line-height: 35px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.cards .card {
  text-align: center;
  margin: 32px 32px;
  padding: 46px 30px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.2509803922);
}
.cards .head {
  font-size: 15px;
  font-family: "Work Sans";
  font-weight: 400;
}
.cards h2 {
  font-size: 40px;
  color: #000000;
  font-family: "Work Sans";
  letter-spacing: 0px;
}
.cards .small {
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  font-family: "Work Sans";
  color: rgba(33, 37, 41, 0.5);
  letter-spacing: 0px;
}
.cards h6 {
  font-size: 15px;
  font-weight: 400;
  font-family: "Work Sans";
  color: rgba(33, 37, 41, 0.5);
  margin: 1rem 1.4rem;
  line-height: 19px;
}
.cards ul {
  align-items: flex-start;
  margin: 2.5rem 0 0 0;
}
.cards li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: -5px 0px;
}
.cards li p {
  color: #212529;
  font-size: 15px;
  font-family: "Work Sans";
  line-height: 25px;
  margin: 8px;
}
.cards img {
  color: #74C69D;
  margin-right: 10px;
  line-height: 20px;
  padding: 15px 0px;
}
.cards .btn {
  width: 170px;
  height: 48px;
  background-color: #212529;
  color: #ffffff;
  font-size: 20px;
  font-family: "Work Sans";
  border-radius: 5px;
  margin: 2.5rem 0 auto;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #74C69D;
  margin: 6rem 0 0 0;
}
.footer .icons {
  color: #ffffff;
  margin: 2rem 2.5rem;
}
.footer .fa {
  padding: 10px 20px;
  width: 26px;
  height: auto;
}
.footer p {
  font-size: 20px;
  font-family: "Work Sans";
  font-weight: 400;
  color: #ffffff;
  margin: 2rem 2.5rem;
  padding: 10px 20px;
}

@media only screen and (max-width: 600px) {
  .display ul {
    display: none;
  }
  .display .menu {
    display: block;
  }
  .display .logo {
    height: 40px;
    margin: auto 1.2rem;
  }
  .cards {
    flex-direction: column;
  }
  .cards .card h6 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Work Sans";
    color: rgba(33, 37, 41, 0.5);
    margin: 0.5rem;
    line-height: 19px;
    line-break: normal;
  }
  .cards .card br {
    display: none;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer .icons {
    color: #ffffff;
    margin: 1rem 0rem 0rem 0rem;
  }
  .footer .fa {
    padding: 5px 10px;
    width: 26px;
    height: auto;
  }
  .footer p {
    font-size: 16px;
    margin: 1rem;
    font-family: "Work Sans";
  }
}
@media only screen and (min-width: 600px) {
  .display ul {
    display: none;
  }
  .display .menu {
    display: block;
  }
  .display .logo {
    height: 40px;
    margin: auto 1.2rem;
  }
  .main {
    text-align: center;
  }
  .main h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .container {
    margin: auto;
    min-width: 300px;
    max-width: 1500px;
    overflow-x: hidden;
  }
  .cards {
    flex-direction: column;
    margin: auto auto;
    align-items: center;
  }
  .cards .card {
    width: 339px;
    height: auto;
  }
  .cards h6 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Work Sans";
    color: rgba(33, 37, 41, 0.5);
    text-align: center;
    align-items: center;
    line-height: 19px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0 0;
  }
  .footer .icons {
    color: #ffffff;
    margin: 1rem 0rem 0rem 0rem;
  }
  .footer .fa {
    padding: 5px 10px;
    width: 26px;
    height: auto;
  }
  .footer p {
    font-size: 16px;
    margin: 1rem;
    font-family: "Work Sans";
  }
}
@media only screen and (min-width: 998px) {
  .display ul {
    display: block;
  }
  .display .menu {
    display: none;
  }
  .display .logo {
    height: 40px;
    margin: auto 4rem;
  }
  .cards {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }
  .cards h6 {
    font-size: 15px;
    font-weight: 400;
    font-family: "Work Sans";
    color: rgba(33, 37, 41, 0.5);
    text-align: center;
    align-items: center;
    line-height: 19px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #74C69D;
    margin: 6rem 0 0 0;
  }
  .footer .icons {
    color: #ffffff;
    margin: 2rem 2.5rem;
  }
  .footer .fa {
    padding: 10px 20px;
    width: 26px;
    height: auto;
  }
  .footer p {
    font-size: 20px;
    font-family: "Work Sans";
    font-weight: 400;
    color: #ffffff;
    margin: 2rem 2.5rem;
    padding: 10px 20px;
  }
}/*# sourceMappingURL=index.css.map */