@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');
@import './styles/header.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: 'Mulish', sans-serif;
}

/*.list a {
  color: rgb(216, 53, 20);
  border: 1px solid rgb(230, 167, 167);
  text-transform: uppercase;
  background-color: #dbd1a6;
  line-height: 12px;
  padding: 2px;
  border-radius: 5px;
  font-size: 12px;
}*/









