@import './sideNav.scss';
@import './main.scss';
@import './newComponent.scss';
@import './popupFilter.scss';

$font-family: 'Mulish';
$font-size-primary: 14px;

.head {
  background-color: #F2F8FE;
  float: left;
  width: 77%;

  .top {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
  }

  button {
    background-color: #144D92;
    color: #ffffff;
    border-radius: 10px;
    font-size: $font-size-primary;
    font-weight: 700;
    padding: 10px;
    font-family: $font-family;
    border: none;
    cursor: pointer;
    span {
      padding: 0 5px;
      border-radius: 50%;
      background: #fff;
      margin-right: 10px;
      text-align: center;
      color: #144D92;
    }
  }
  input {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 65%;
    padding: 5px 36px;
    height: 30px;
  }
  span.material-symbols-outlined {
    position: absolute;
    top: 40px;
    background: none;
    color: #8E8EA9;
    padding-left: 10px;
  }
}